<h1 style='text-align: center;'>Hi this is the home page</h1>

<div class="ui search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Search seafood...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<script>
var content = [
  <% @fishes.each do |fish| %>
    { title: '<%= fish.english %> ' },
  <% end %>
];
</script>

<div class="ui two stackable cards" style="margin:10px">
  <% @fishes.each do |fish| %>
  <div class="ui fluid card" id="fish-card">
    <div class="image">
      <%= cl_image_tag(fish.image, :width => 100, :height => 150) %>
    </div>
    <div class="content">
      <a class="header"><%= fish.english %> | <%= fish.malay %> | <%= fish.chinese %></a>
      <div class="meta">
        <span class="volume">Volume:
          <%= fish.volume %>
        </span>
        <span class="volume">$$/kg:
          <%= fish.price %>
        </span>
      </div>
      <% if @customer %>
        <div class="ui bottom attached button addToCart" value="<%= fish.id %>">
          <i class="add to cart icon"></i>
          Add Tambah 加
        </div>
      <% end %>
    </div>
  </div>
<% if @customer %>
  <div class="ui modal" id="cartModal<%= fish.id %>">
    <i class="close icon"></i>
    <div class="header">
      Add to Cart
    </div>
    <form accept-charset="UTF-8" class="ui form nifty_form" action="/carts" method="POST">
      <div class="description">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input type="hidden" name="cart[customer_id]" value="<%= @customer.id %>">
        <!-- Can dropdown to choose which stall to buy from --->
        <input type="hidden" name="cart[stall_id]" value="1">
        <input type="hidden" name="cart[fish_id]" value="<%= fish.id %>">
        <div class="field">
          THIS IS THE FISH ID: <%= fish.english %>
          <label>Quantity</label>
          <input type="number" name="cart[qty]">
        </div>
        <div class="field">
          <label>Price</label>
          <input type="number" name="cart[price]">
        </div>
      </div>
    <div class="actions">
      <div class="ui button">Cancel</div>
      <button type="submit">Submit</button>
    </div>
  </form>

  </div>
  <% end %>
<% end %>
</div>
