<h1 style="text-align: center;">This is your cart!</h1>
<form action='/carts/<%= @customer.id %>' method='post'>
  <input type="hidden" name="_method" value="patch">
  <% if @carts.length > 0 %>
  <div class="field">
    <button type="submit" class="ui yellow button"> CHECK OUT THE FISHIES </button>
  </div>
  <% end %>
<% @carts.each do |cart| %>
  <div class="ui horizontal segments">
    <div class="ui segment">
      <%= cl_image_tag(cart.fish.image) %>
    </div>
    <div class="ui segment">Fish ID:
      <p><%= cart.fish.english %></p>
    </div>
    <div class="ui segment">Total Volume:
      <p><%= cart.qty %></p>
    </div>
    <div class="ui segment">Price Set:
      <p><%= cart.price %></p>
    </div>
    <div class="ui segment">
      <p><a class="ui red button" href="/carts/<%= cart.id %>" data-method="delete">Delete</a></p>
    </div>
  </div>
<% end %>
</form>
