<div class="ui container">
  <h1 style="text-align: center;">This is your cart!</h1>
  <div class="ui row">
      <form action='/purchases' method='post'>
          <% if @carts.length > 0 %>
          <div class="field">
              <button type="submit" class="ui yellow button">
                  CHECK OUT THE FISHIES
              </button>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Total Amount" data-amount="200000" data-locale="auto"></script>
          </div>
          <% else %>
            <div class="text container">
              Your cart is empty... Add some prawns, its fresh and sweet!
            </div>
          <% end %>
          <% @carts.each do |cart| %>
          <input type="hidden" name="purchase[cart_id][]" value="<%= cart.id %>">
          <input type="hidden" name="purchase[stall_id][]" value="<%= cart.stall_id %>">
          <input type="hidden" name="purchase[customer_id]" value="<%= cart.customer_id %>">
          <input type="hidden" name="purchase[invoice_id]" value="1">

          <div class="ui horizontal segments">
              <div class="ui segment">
                <%= cl_image_tag(cart.fish.image, :width=>300, :height=>200, :crop=>"scale") %>
              </div>
              <div class="ui segment">Fish ID:
                  <p><%= cart.fish.english %></p>
                  <input type="hidden" name="purchase[fish_id][]" value="<%= cart.fish.id %>">
              </div>
              <div class="ui segment">Total Volume:
                  <input type="number" name="purchase[qty][]" value="<%= cart.qty %>">
              </div>
              <div class="ui segment">Price Set:
                  <input type="number" name="purchase[price][]" value="<%= cart.price %>">
              </div>
              <div class="ui segment">
                  <p>
                      <a class="ui red button" href="/carts/<%= cart.id %>" data-method="delete">Delete</a>
                  </p>
              </div>
          </div>
          <% end %>
      </form>
  </div>

</div>
