<h1><%= @stall_owner.name %> Dashboard</h1>

<form action='/stalls/<%= @stall_owner.id %>' method='post'>
  <input type="hidden" name="_method" value="patch">
  <% @stall_seafood.each do |seafood| %>
    <div class="ui horizontal segments">
      <div class="ui segment">
        <%= cl_image_tag(seafood.fish.image, :width => 100, :height => 150) %>
      </div>
      <div class="ui segment">Fish ID:
        <p><%= seafood.fish.english %></p>
      </div>
      <div class="ui segment">Total Volume:
        <p><%= seafood.volume %></p>
      </div>
      <div class="ui segment">Price Set:
        <p><%= seafood.price %></p>
      </div>
      <div class="ui segment">
        <p></p>
      </div>
    </div>
  <% end %>
</form>
