<!DOCTYPE html>
<html>
  <head>
    <title>Project4Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">Stripe.setPublishableKey('pk_test_i6yMwIhsd7HAJqXFyvHxhJDb');</script>
  </head>

  <body>
    <!-- User Nav Bar -->
    <div class="ui secondary menu">
      <a class="item" href="/">
        <img alt="PROJ">
      </a>
      <a class="browse item">
        Add new item
        <i class="dropdown icon"></i>
      </a>

      <a class="item">
        <i class="stripe icon"></i>
      </a>
      <a class="item">
        <i class="talk icon"></i>
      </a>
      <% if @current_user %>
      <div class="ui right dropdown item">
        <%= @current_user.firstName %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/user_profiles/<%= @current_user.id %>/edit ">Settings</a>
          <a class="item">whatever</a>
          <div class="ui divider"></div>
          <a href="/logout" rel="nofollow" data-method="delete" class="item"><i class="sign out icon"></i> Log Out</a>
        </div>
      </div>
      <% else %>
      <a class="ui right item" id='log-in'>
        Log In
        <i class="sign in icon"></i>
      </a>
      <a class="ui item" id="sign-up">Sign Up</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>





<!-- MODALS -->
<div class="ui coupled modal login">
  <i class="close icon"></i>
  <div class="header">
    Log In
  </div>
    <%= render "sessions/form" %>
</div>

<div class="ui coupled modal signup" id="sign-up-modal">
  <i class="close icon"></i>
  <div class="header">
    Sign Up
  </div>
  <%= render "user_profiles/form" %>
</div>
